@font-face {
    font-family: "Montserrat-Regular";
    src: local("Bessemer"),
     url(~assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Bessemer";
    src: local("Bessemer"),
     url(~assets/fonts/Bessemer-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "SFU-Medium";
    src: local("SFU-Medium"),
     url(~assets/fonts/SFU-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "SFU-Regular";
    src: local("SFU-Regular"),
     url(~assets/fonts/SFU-Regular.ttf) format("truetype");
}



