body{
    font-family: 'Montserrat-Regular', sans-serif;
    padding: 0;
    margin: 0;
}
h1,h2,h3{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat-Bold';
}

p{
    padding: 0;
    margin: 0;
    line-height: 24px;
}

.content{
    width: 100%;
    padding: 40px 16px;
    box-sizing: border-box;
    min-height: 100vh;
    @media (min-width: 768px) {
        padding: 48px 32px;
    }
}

